{deps, [
{cowlib,".*",{git,"https://github.com/wdaughtridge/cowlib",{branch,"master"}}},{ranch,".*",{git,"https://github.com/ninenines/ranch",{tag,"1.8.1"}}},{quicer,".*",{git,"https://github.com/emqx/quic",{branch,"main"}}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,warn_missing_spec,warn_untyped_record]}.
